<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Welcome</title>
</head>
<body>
  <div class="main-content">
    <h1>Welcome to Socket Chat</h1>
    <p>Currently, <%= onlineUsers %> user(s) online.</p>
    <a href="/login" class="action-button">Log In</a>
    <a href="/signup" class="action-button">Sign Up</a>
  </div>
</body>
</html>
